*{
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container{
    background-color: rgba(207, 59, 128, 0.48);
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px, 0;
}

.logo{
    width: 70px;
    font-size: 80px;
    color: rgba(231, 242, 243, 0.974);
    letter-spacing: 4px;
    font-family: Cursive;
    font-style: italic;
   font-weight: Bold; 
   text-decoration: none;
}

ul li{
    display: inline-block;
}

ul li a{
color: beige;
text-decoration: none;
margin: 0 10px;
font-size: 25px;
}

.contant{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    width: 80%;
}

.contant .text{
    width: 40%;
    color: rgba(233, 233, 216, 0.907);
}
.contant .text h2{
    font-size: 55px;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-style: oblique;
    letter-spacing: 2px;
}
.contant .text p{
    font-size: 30px;
    margin: 20px, 0;
}

.contant .text a{
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(132, 132, 197);
    padding: 8px 15px;
    border-radius: 20px;
    position: absolute;
}

.contant .IMAGES{
    width: 50%;
}

.contant .IMAGES img{
    width: 600px;
    padding: 20px 15px;
    margin-right: 20px;
}

.icons{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.icons img{
    width: 70px;
    cursor: pointer;
    transition: 0.5%;
}

.icons img:hover{
    transform: scale(2.1);
}

.footer{
    background-color: rgb(177, 148, 224);
    padding: 10px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: auto;
    size: 20px;

}
.footer .cont{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: beige;
}
.footer .info{
    size: large;
    width: 15px;
    justify-content: space-between;
    margin: auto;
    display: flex;
}

